<div class="layout__item posts-index__sidebar__head">
  <button class="button" {{action "closeSidebar"}}>Close</button>
</div>
<div class="layout__item layout__item--expandable posts-index__sidebar__body">
  {{#if selectedPost}}
    <h1 class="posts-index__sidebar__post-title">{{selectedPost.title}}</h1>

    <small class="posts-index__sidebar__post-author">By: {{selectedPost.author.name}}</small>

    <div class="posts-index__sidebar__post-body">{{selectedPost.body}}</div>
  {{/if}}
</div>
