<div class="layout layout--vertical layout__item layout__item--expandable">
  {{posts-index--list
    posts=posts
    setSelected=(action "setSelected")
    selectedPost=selectedPost
    class="layout__item layout__item--expandable posts-index__list-container"
  }}

  {{resource-paginator
    resourceCount=100
    resourcesPerPage=postsPerPage
    currentPage=currentPage
    class="layout__item resource-paginator resource-paginator--posts-index"
  }}
</div>

{{posts-index--sidebar
  selectedPost=selectedPost
  class="layout__item posts-index__sidebar posts-index__sidebar layout layout--vertical"
}}
