{{#if inRange}}
  {{#if previousPage}}
    {{#link-to "posts" (query-params page=previousPage) class="resource-paginator__control"}}Previous{{/link-to}}
  {{else}}
    <div class="resource-paginator__control resource-paginator__control--disabled">Previous</div>
  {{/if}}

  {{#if currentPage}}
    <div class="resource-paginator__display">Page {{currentPage}} of {{lastPage}}</div>
  {{/if}}

  {{#if nextPage}}
    {{#link-to "posts" (query-params page=nextPage) class="resource-paginator__control"}}Next{{/link-to}}
  {{else}}
    <div class="resource-paginator__control resource-paginator__control--disabled">Next</div>
  {{/if}}
{{/if}}
