* {
  box-sizing: border-box;
}

body,
body > .ember-view {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: $text-color-regular;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: $font-size-regular;
  line-height: 1.4em;
}

h1 {
  font-size: $font-size-large;
  line-height: 1.2em;
}

small {
  color: $color-gray-dark;
}
