.layout {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
}

.layout--horizontal {
  flex-direction: row;
}

.layout--vertical {
  flex-direction: column;
}

.layout__item {
  flex: 0 0 auto;
  overflow: auto;
}

.layout__item--expandable {
  flex: 1 1 auto;
}
