// Colors

$color-blue: darken(#E1F5FE, 5%);
$color-blue-light: #E1F5FE;

$color-gray-dark: darken(#CCC, 10%);
$color-gray: #CCC;
$color-gray-medium: lighten(#CCC, 10%);
$color-gray-light: lighten(#CCC, 17%);

$color-border: $color-gray;

// Text

$font-size-regular: 14px;
$font-size-large: 28px;

$text-color-regular: #555;
