// List

.posts-index__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-gray-medium;
}

.posts-index__list {
  flex: 0 0 auto;
  max-width: 700px;
  margin: 30px;
  border: 1px solid $color-border;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.posts-index__list__item {
  padding: 15px;
  border-bottom: 1px solid $color-border;
  background-color: white;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.07s ease;
  &:hover {
    background-color: $color-blue-light;
  }
}

.posts-index__list__item--active,
.posts-index__list__item--active:hover {
  background-color: $color-blue;
}

// Sidebar

$posts-index__sidebar-width: 400px;
$posts-index__sidebar-breakpoint-size: 800px;

.posts-index__sidebar {
  width: 0;
  border-left: 1px solid $color-border;
  transition: min-width 0.25s ease, width 0.25s ease;

  @media only screen and (max-width: $posts-index__sidebar-breakpoint-size) {
    transition: none;
  }
}

.posts-index__sidebar--open {
  width: $posts-index__sidebar-width;

  @media only screen and (max-width: $posts-index__sidebar-breakpoint-size) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
  }
}

.posts-index__sidebar__head,
.posts-index__sidebar__body {
  width: $posts-index__sidebar-width;
  padding: 15px;
  background-color: white;

  @media only screen and (max-width: $posts-index__sidebar-breakpoint-size) {
    width: auto;
  }
}

.posts-index__sidebar__head {
  border-bottom: 1px solid $color-border;

  @media only screen and (max-width: $posts-index__sidebar-breakpoint-size) {
    border-radius: 5px 5px 0 0;
  }
}

.posts-index__sidebar__body {

  @media only screen and (max-width: $posts-index__sidebar-breakpoint-size) {
    border-radius: 0 0 5px 5px;
  }
}

.posts-index__sidebar__post-title,
.posts-index__sidebar__post-author {
  display: block;
  margin-bottom: 10px;
}

// Paginator

.resource-paginator--posts-index {
  padding: 10px 0;
  border-top: 1px solid $color-border;
}
