.resource-paginator {
  display: flex;
  justify-content: center;
}

.resource-paginator__control,
.resource-paginator__display {
  padding: 5px;
  border: 1px solid $color-border;
  border-right-width: 0;
  color: $text-color-regular;
  text-decoration: none;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-right-width: 1px;
    border-radius: 0 5px 5px 0;
  }
}

.resource-paginator__control {
  background-color: $color-gray-light;
}

.resource-paginator__control:not(.resource-paginator__control--disabled) {
  cursor: pointer;

  &:hover {
    background-color: $color-gray-medium;
  }
}

.resource-paginator__control--disabled {
  color: lighten($text-color-regular, 50%);
}

.resource-paginator__display {
  width: 115px;
  text-align: center;
}
