{{posts-index
  posts=model.posts
  postsPath=model.postsPath
  usersPath=model.usersPath
  currentPage=model.currentPage
  postsPerPage=model.postsPerPage
  class="layout layout--horizontal posts-index"
}}
